# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS / macOS
.DS_Store

# Large / temporary data (optional - be careful)
# Uncomment these ONLY if you do NOT want to track data files
# *.parquet
# *.feather
# *.pkl
# *.pickle

